.parent-intro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../images/intro_img.jpg");
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
}